@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;500;700&display=swap');

/* Nav Bar CSS */
* {
  box-sizing: border-box;
}

li, a, button {
  font-family: "Urbanist", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: rgb(255, 255, 255);
  box-shadow: 20px 20px 50px grey;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}
.navlinks {
  list-style: none;  
}
.navlinks li {
  display: inline-block;
  padding: 0px 20px;
}

button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  border-radius: 10px;
}

/* Body CSS */

#aleGrid {
  margin: 0px 5%;
  display: grid;
  min-height: 500px;
  height: 140vh;
  grid-template-rows: 20% 40% 20% 20%;
  grid-template-columns: 30% 70%;
  grid-template-areas:
  "heroImg topContent topContent topContent"
  "heroImg skills skills skills"
  "heroImg lego lego lego"
  "heroImg designThinking designThinking designThinking";
}
.aleGridArea {
  background-position: center;
  background-size: cover;
  margin: 5px;
  cursor: pointer;
  display: grid;
  justify-content: space-around;
  align-items: flex-end;
  position: relative;
}

#heroImg {
  grid-area: heroImg;
  background-image: url("../images/Alejandro-Hero.png");
  background-repeat: no-repeat;
}
#topContent {
  grid-area: topContent;
  font-family: "Urbanist", sans-serif;
}
#skills {
  grid-area: skills;
  justify-content: space-around;
  align-items: flex-end;
}
#lego {
  grid-area: lego;
  background-color: #FFDD15;
}
#designThinking {
  grid-area: designThinking;
  display: flex;
}
#footer {
  grid-area: footer;
  display: grid;
  background-color: #3b3b3b;
  padding: 10px;
  justify-content: space-between;
  align-items: end;
  font-family: "Urbanist", sans-serif;
}

p {
  font-family: "Urbanist", sans-serif;
  font-weight: 300;
  padding: 10px;
  font-size: 16pt;
  margin-top: 20px;
}
#innerGrid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
#inner-grid > div {
  background: salmon;
  padding: 8px;
} 
#title {
  font-size: 24pt;
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  display: inline-grid;
  margin-top: 40px;
}
#softSkills {
  font-size: 20pt;
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  display: inline-grid;
}
#hardSkills {
  font-size: 20pt;
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  display: inline-grid;
}
.appIcons {
  width: 256px;
  height: 128px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.resume {
  margin-left: 20px;
  padding: 9px 25px;
  color: white;
  border: none;
  border-radius: 10px;
}
.instalogoLink {
  align-items: center;
  display: flex;
  justify-content: center;
}
#instablack {
  font-size: 20pt;
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
}
.box {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr ;
  grid-template-areas:
  "stuff stuff"
  "home home";
}
.dT {
  justify-content: left;
  align-items: start;
  grid-area: stuff;
}
.homeButton{
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
  grid-area: home;
}

footer {
  background-color: black;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}


.left-side {
  margin: 0;
  font-family: "Urbanist", sans-serif;
  color: white;
  justify-content: left;
}

.left-side img, .right-side img {
  margin-right: 5px;
  vertical-align: middle;
}

.right-side a {
  margin-right: 10px;
  justify-content: right;
}

.right-side img {
  width: 30px;
  height: 30px;
  justify-content: right;
}
