@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;500;700&display=swap');

/* Nav Bar CSS */

#nav1 {
  justify-content: flex-end;

}
li, a, button {
  font-family: "Urbanist", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: rgb(255, 255, 255);
  box-shadow: 20px 20px 50px grey;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

button {
  padding: 9px 18px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* Body CSS */

.container{
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
}

.coverImage{
    width: 70%;
    margin: auto;
    display: block;
    padding-bottom: 10px;
}

.summaryTop {
    background-color: yellow;
    padding: 50px;
    font-weight: 500;
    font-size: 18pt;
}
.Role, .Tools {
    font-size: 16pt;
    font-weight: 500pt;
}
.title {
    font-family: "Urbanist", sans-serif;
    font-size: 22pt;
    font-weight: 900; 
    padding: 10px 10%;
}
.subtitle {
    font-family: "Urbanist", sans-serif;
    font-style: italic;
    font-size: 18pt;
    font-weight: 500pt;
    padding: 10px 10%;
}
.ur {
    font-family: "Urbanist", sans-serif;
    font-size: 16pt;
    font-weight: 500pt;
    padding: 10px 10%;
}


.title3 {
    font-family: "Urbanist", sans-serif;
    font-size: 18pt;
    font-weight: 500;
    margin-left: 300px;
    color: white;
    background-color: black; 
}
.title4 {
    font-family: "Urbanist", sans-serif;
    font-size: 18pt;
    font-weight: 700;
    text-align: center;
    background-color: yellow; 
}
.title5 {
    font-family: "Urbanist", sans-serif;
    font-size: 25pt;
    font-weight: 700;
    color: white; 
}

.quote {
    width: 60%;
    margin: auto;
    display: block;
    margin-bottom: 20px;
}

#carouselExampleIndicators {
    width: 40%;
    margin: auto;
    display: block;
}
.special {
    font-size: 20pt;
    font-weight: 700; 
    text-align: center;
    margin-top: 10px;
}
.list {
    padding: 10px 12%;
    font-size: 14pt; 
}
.challenge {
    margin: auto;
    display: block;
    margin-bottom: 20px;
    width: 80%;
}
.matrix {
    width: 50%;
    margin: auto;
    display: block;
}
.value {
    background-color: yellow;
    font-family: "Urbanist", sans-serif;
    font-size: 16pt;
    font-weight: 300;  
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
}
.ur2 {
    font-family: "Urbanist", sans-serif;
    font-size: 14pt;
    font-weight: 500;
    padding: 0px 10px;
    width: 560px;
    height: 35px;
}
.urp {
    font-family: "Urbanist", sans-serif;
    font-size: 14pt;
    font-weight: 500;
    background-color: yellow;
    margin-left: 390px;
    width: 300px;
}
.lesson {
    font-family: "Urbanist", sans-serif;
    background-color: black;
    padding: 200px 200px;
}
.ur3 {
    font-family: "Urbanist", sans-serif;  
    font-size: 14pt;
    font-weight: 500;
    color: white;
}



/* Footer CSS */
#footer1 {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0%;
  }
  
  .left-side {
    margin: 0px 10px;
    font-family: "Urbanist", sans-serif;
    color: white;
    justify-content: flex-start;
  }

  .footerTitle {
    justify-content: left;
    font-size: 18pt;
    margin: 0 0 15px 0;
  }

  .left-side img span {
    margin-right: 100px;
  }

  .right-side {
    margin-right: 20px;
    justify-content: flex-end;
  }
  .right-side a{
    margin-left: 10px;
  }



  /* Media Query */
  @media only screen and (max-width: 1000px) {
    .navlinks {
        display: none;
        }
    .navlinks2 {
          display: none;
        }
  }

  @media only screen and (max-width: 600px) {
    .top {
        position: static;
        margin: 20px;
    }
    .title {
        margin: none;
    }
    .ur {
        margin: none; 
    }
   
    #footer1 {
        display: block;
    }
    .right-side {
        margin-top: 20px;
        margin-left: 10px;
    }
  }
